@use "variables" as v;

.footer {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  border-top: 1px solid #ececec;
  p {
    font-size: 0.75rem;
    color: v.$text-color-light;
    line-height: 23px;
    padding-top: .80rem;
    span {
      font-weight: bold;
    }
  }
}
