@use "variables" as v;
.header {
  background-color: v.$bg-color;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  .header-text {
    p,
    h3 {
      font-family: v.$primary-font;
      color: v.$secondary-text-color;
      font-style: normal;
      font-weight: 400;
    }
    p {
      font-size: 0.9rem;
      line-height: 16px;
    }
    h3 {
      font-size: 1.3rem;
      line-height: 26px;
    }
  }
  .header-lenguage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 97px;
    height: 34px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    span {
      font-size: 0.9rem;
      font-family: v.$secondary-font;
    }
  }
  .header-profile {
    display: flex;
    gap: 0.80rem;
    .profile-infos {
      font-family: v.$secondary-font;
      font-style: normal;
      font-weight: 400;
      font-size: 0.9rem;
      line-height: 18px;
      text-align: end;
      color: #333333;
      span {
        font-size: 0.75rem;
        line-height: 15px;
      }
    }
    .profile-picture {
        position: relative;
        img {
            border-radius: 50%;
        }
        span {
            position: absolute;
            top: -7%;
            right: -7%;
            background-color: #F85959;
            font-size: 0.65rem;
            color: #FFFFFF;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            text-align: center;
        }
    }
  }
}
