@use "variables" as v;
.header {
  background-color: v.$bg-color;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  .header-infos {
    display: flex;
    gap: 1rem;
  }
  .header-text {
    p,
    h3 {
      font-family: v.$primary-font;
      color: v.$secondary-text-color;
      font-style: normal;
      font-weight: 400;
    }
    p {
      font-size: 0.9rem;
      line-height: 16px;
    }
    h3 {
      font-size: 1.3rem;
      line-height: 26px;
    }
  }
  .header-lenguage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 97px;
    height: 34px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    span {
      font-size: 0.9rem;
      font-family: v.$secondary-font;
    }
  }
  .header-profile {
    display: flex;
    gap: 0.8rem;
    .profile-infos {
      font-family: v.$secondary-font;
      font-style: normal;
      font-weight: 400;
      font-size: 0.9rem;
      line-height: 18px;
      text-align: end;
      color: #333333;
      span {
        font-size: 0.75rem;
        line-height: 15px;
      }
    }
    .profile-picture {
      position: relative;
      img {
        border-radius: 50%;
      }
      span {
        position: absolute;
        top: -7%;
        right: -7%;
        background-color: #f85959;
        font-size: 0.65rem;
        color: #ffffff;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1170px) {
  .header-text {
    width: 55%;
  }
}

@media screen and (max-width: 923px) {
  .header-infos {
    flex-direction: column;
    .header-lenguage {
      align-self: flex-end;
    }
  }
}
