@use "variables" as v;

.panels {
  margin-top: 1.5rem;
  .title {
    font-family: v.$primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 25px;
    color: #4e4e4e;
    background-color: v.$bg-color;
    padding: 0.5rem 0 0.5rem 1rem;
    border-bottom: 1px solid #ececec;
  }
}

.summary-panel,
.discussions-panel {
  border: 1px solid #ececec;
  border-radius: 3px;
}

.summary-panel {
  margin-bottom: 1.5rem;
  p {
    font-family: v.$secondary-font;
    font-size: 0.75rem;
    letter-spacing: 0.02em;
    color: v.$text-color-light;
    line-height: 23px;
    padding: 1rem;
    #read-more {
      font-weight: bold;
      color: v.$primary-text-color;
      cursor: pointer;
    }
  }
  //collapse text
  .read-more-text {
    display: none;
  }
}

.discussions-panel {
  .share-ideas {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
    border-bottom: 1px solid #ececec;
    h4 {
      font-family: v.$primary-font;
      font-style: normal;
      font-weight: 700;
      font-size: 1.1rem;
      line-height: 21px;
      color: v.$primary-text-color;
      margin-bottom: 1.5rem;
    }
    .share-ideas-icons {
      display: flex;
      gap: 3rem;
      margin-bottom: 1.5rem;
    }
    p {
      font-family: v.$secondary-font;
      font-style: normal;
      font-weight: 400;
      font-size: 0.9rem;
      line-height: 19px;
      width: 626px;
      text-align: center;
      color: v.$text-color-light;
      margin-bottom: 2.5rem;
    }
  }
  .share-idea-btn {
    position: absolute;
    bottom: -15px;
    width: 133px;
    height: 32px;
    background: v.$linear-gradient;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    img {
      margin-right: 5px;
    }
  }
}

//create topic
.create-topic {
  display: flex;
  display: none;
  flex-direction: column;
  padding: 1rem;
  p {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 18px;
    text-align: center;
    color: v.$text-color-light;
    margin-bottom: 1rem;
  }
  label {
    font-family: v.$primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: v.$primary-text-color;
  }
  input {
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    outline: none;
  }
  textarea {
    border: 1px solid #cccccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0.5rem;
    outline: none;
  }
  .btn-area {
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background: #eaf1f2;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-area-icons {
      img {
        margin-left: 1.5rem;
      }
    }
    img {
      width: 13px;
      height: 10px;
    }
    button {
      width: 205px;
      height: 31px;
      border-radius: 0;
      border-bottom-right-radius: 4px;
    }
  }
}

//topic sent
.topic-sent {
  display: none;
  margin: 0rem 1rem 1rem 1rem;
  padding: 1rem 0;
  .topic-sent-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    border-bottom: 1px solid #ececec;
  }
  h4 {
    font-family: v.$primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 21px;
    margin-bottom: 1rem;
    color: v.$primary-text-color;
  }
  p {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 19px;
    color: #595959;
    margin-bottom: 1.5rem;
  }
  a {
    font-family: v.$secondary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 137.5%;
    text-decoration-line: underline;
    color: v.$primary-text-color;
  }
  button {
    position: absolute;
    bottom: -15px;
    height: 32px;
    width: 235px;
  }
  .success-sent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ddddddc9;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    margin-top: 2rem;
    padding: 2rem 0;
    img {
      width: 30px;
      height: 24px;
    }
  }
}
