@use "variables" as v;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-family: v.$secondary-font;
  font-style: normal;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: v.$primary-text-color;
  color: #fff;
  img {
    width: 19px;
    height: 19px;
  }
}
