@use "variables" as v;
.side-navbar-container {
  width: 15%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  .side-navbar-logo {
    background: v.$linear-gradient;
    height: 10vh;
    font-family: v.$primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  .side-navbar-img {
    width: 100%;
  }
  ul {
    li {
      height: 2.1rem;
      display: flex;
      border-bottom: 2px solid #e5e5e5;
      transition: all 0.3s ease;
      a {
        margin-left: 1rem;
        font-family: v.$secondary-font;
        color: v.$secondary-text-color;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 19px;
        align-self: center;
      }
      &:hover {
        background-color: v.$bg-color;
        border-left: 3px solid v.$primary-text-color;
      }
    }
  }
}

@media screen and (max-width: 779px) {
  .side-navbar-container {
    display: flex;
    width: 100%;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 0 1rem;
      li {
        border-bottom: none;
        a {
          margin-left: 0;
        }
        &:hover {
          border-left: none;
          padding: 0 0.5rem;
          border-bottom: 3px solid v.$primary-text-color;
        }
      }
    }
    .side-navbar-logo {
      font-size: 1.5rem;
    }
    .side-navbar-img {
      height: 10vh;
      width: auto;
    }
  }
}

@media screen and (max-width: 480px) {
  .side-navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .side-navbar-logo {
      display: none;
    }
    .side-navbar-img {
      width: 100px;
      object-fit: contain;
    }
  }
}
