$bg-color: rgba(253, 241, 235, 1);

$primary-text-color: rgba(237, 120, 57, 1);
$secondary-text-color: rgba(114, 92, 92, 1);
$text-color-light: #5C5C5C;

$primary-font: "Roboto";
$secondary-font: "Quicksand";